<div class="container">
    <h1>Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="game" required>
                <mat-option *ngFor="let game of games; trackBy: trackById" [value]="game">
                    {{ game.title }}
                </mat-option>
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.cliente" name="cliente" required>
                <mat-option *ngFor="let cliente of clientes; trackBy: trackById" [value]="cliente">
                    {{ cliente.name }}
                </mat-option>
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha préstamo</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="prestamo.dateIni" [matDatepicker]="prestamoPicker" name="prestamoDate"/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="prestamoPicker"></mat-datepicker-toggle>
                <mat-datepicker #prestamoPicker></mat-datepicker>
            <mat-error>La fecha no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha devolución</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="prestamo.dateEnd" [matDatepicker]="returnPicker" name="date_end"/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="returnPicker"></mat-datepicker-toggle>
                <mat-datepicker #returnPicker></mat-datepicker>
            <mat-error>La fecha no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>